<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.huashantech.liaoliao2">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 获取手机当前状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--手机震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--接受短信-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--系统层级-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--获取服务权限-->
    <permission android:name="cn.huashantech.liaoliao2.permission.ACCESS_BOOK_SERVICE"
                android:protectionLevel="normal"/>

    <application
        android:name=".LiaoLiaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name=".test.ipc.SecondActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <service android:name=".test.ipc.MyIntentService"/>

        <service android:name=".test.ipc.MessageService"
                 android:process=":remote1"/>

        <service android:name=".test.ipc.BookManagerService"
            android:process=":remote2"/>

        <service android:name=".test.ipc.BinderPoolService"
                 android:process=":fuck"/>


        <receiver android:name=".test.chapter5.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="cn.huashantech.liaoliao2.test.chapter5.action.CLICK"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info">
            </meta-data>
        </receiver>

        <receiver android:name=".test.logoff.ForceOfflineReceiver">

            <intent-filter>
                <action android:name="cn.huashantech.liaoliao2.FORCE_OFFLINE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".test.message.MainActivity$MessageReceiver">

            <intent-filter>
                <action android:name="android.permission.RECEIVE_SMS"/>
            </intent-filter>
        </receiver>
        
        <!--添加FileProvider配置-->
        <provider
            android:authorities="cn.huashantech.liaoliao2.FileProvider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <provider
            android:authorities="cn.huashantech.liaoliao2.test.provider"
            android:name=".test.provider.BookProvider"
            android:permission="cn.huashantech.liaoliao2.PROVIDE"
            android:process=":provider">

        </provider>

    </application>
    

</manifest>